<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
<div class="container">
  <%- include('../partials/header', {subHeading: 'User List'}) %>

  <main>
    <ul>
      <% users.forEach(function(user) { %>
        <li><a href="/users/<%= user._id %>"><%= user.name %></a></li>
      <% }) %>
    </ul>
    <p><a href="/">Back to home.</a></p>
  </main>
</div>

  <%- include('../partials/scripts') %>
</body>
</html>
